.container {
    &>div {
        margin-bottom: 12px;
        
    }

    .title {
        width: 63px;
        height: 15px;
        font-size: 15px;
        font-family: Microsoft YaHei;
        font-weight: 400;
        color: #5B5B5B;
        line-height: 20px;
    }
}